<div class="card card-side md:max-h-60 bg-base-100 border-2 border-base-300 flex flex-col-reverse sm:flex-row ">
  <div class="card-body">
    <h2 class="card-title">{{ title }}</h2>
    <p>{{ preview }}</p>
    <div class="card-actions justify-end">
      <a [routerLink]="this.postUrl" routerLinkActive="page" ariaCurrentWhenActive="page">
        <button class="btn btn-primary">Ler Mais</button>
      </a>
    </div>
  </div>
 <figure class="sm:max-w-80">
    <img
      class="rounded-md 4 w-full sm:aspect-square"
      [src]="this.imgSrc"
      [alt]="this.imgAlt"
    >
  </figure>
</div>
