@import url(style_pagina_inicial.css);
@import url(style.css);

.grid-historias-historia-container {
    max-width: 45%;
    margin: auto;
    margin: 12px;
    height: 150px;
    margin-bottom: 120px;
}

.grid-historias-historia-container .grid-historias-historia-paragrafo, .grid-historias-historia-titulo {
    font-size: 110%;
}

@media only screen and (max-width: 570px) { 
    .grid-historias-historia-container {
        min-width: 100%;
        margin: auto;
        margin: 12px;
        height: 80px;
        margin-bottom: 40px;
    }
    .grid-historias-historia-container .grid-historias-historia-paragrafo, .grid-historias-historia-titulo {
        font-size: 125%;
    }
    
    p.texto-principal-paragrafo{
        font-size: 125%;
    }
    
}

