<footer class="rounded-box bg-neutral max-w-6xl">
  <nav class="text-base-100">
    <ul class="mx-auto flex flex-col md:flex-row gap-4 px-4 py-8 rounded-box justify-center items-center">
      <li class="text-primary underline"><a href="mailto:atendimento@historiadetudo.com">atendimento&#64;historiadetudo.com</a></li>
      <li>Copyright © 2020 História de Tudo</li>
      <li class="text-primary underline"><a routerLink="/about" routerLinkActive="page" ariaCurrentWhenActive="page">Quem somos</a></li>
    </ul>
  </nav>
</footer>
