@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Ubuntu", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
