<div class="prose mb-5 flex flex-col-reverse md:flex-row justify-between md:items-center min-w-full">
  <h2>Resultados da pesquisa: {{ this.searchedText }}</h2>
  <label class="input input-bordered flex items-center gap-2 mb-4 w-full md:w-auto">
    <input type="text" class="grow" placeholder="Search" [(ngModel)]="searchText"
      (keydown.enter)="search(searchText)" />
    <button type="button" (click)="search(searchText)">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
        <path fill-rule="evenodd"
          d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z"
          clip-rule="evenodd" />
      </svg>
    </button>
  </label>
</div>

<div>
  <article class="flex flex-col lg:grid gap-4">
    @if (this.error) {
    <p class="text-error">status text: {{ error.statusText }} - name: {{ error.name }}</p>
    } @else {
    @if (this.postsResult.length < 1) { <p>Nenhum resultado foi encontrado com essa pesquisa. Tente outra!</p>
      } @else {
      @for (postResult of this.postsResult; track postResult.id) {
        <app-card [title]="postResult.title" [imgSrc]="postResult.imgUrl" [imgAlt]="postResult.title"
         [preview]="postResult.preview" [postUrl]="postResult.postUrl" />
        }
      }
    }
  </article>
</div>
